<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="7; URL={{ redirect_to }}" />
</head>
<style type="text/css">
    iframe { position: absolute; left: 0; top: 0; height: 0; width: 0; border: none; }
</style>
<script>
    var total = {{ front_channel_logout_urls }};
    var redir = {{ redirect_to }};

	function redirect() {
		window.location.replace(redir);
		setTimeout(function () {
			window.location.href = redir;
		}, 250);
	}

    function done() {
        total--;
        if (total < 1) {
			setTimeout(redirect, 500);
        }
    }

	setTimeout(redirect, 7000);

	// If the redirect takes unusually long, show a message.
	setTimeout(function () {
		document.getElementById("redir").style.display = "block";
	}, 2000);
</script>
<body>
    <noscript>
        <p>
            JavaScript is disabled - you should be redirected in 5 seconds but if not, click <a href="{{ redirect_to }}">here</a> to continue.
        </p>
    </noscript>

    <p id="redir" style="display: none">
        Redirection takes unusually long. If you are not being redirected within the next seconds, click <a href="{{ redirect_to }}">here</a> to continue.
    </p>
</body>
</html>
